---
layout: default
title: Research
array: ['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008']
---

<div id="projects">
	{% for year in page.array) %}
		<h3 style="color: red; font-weight: bold"> {{  year }}</h3>
		{% for item in site.data.research %}			
			{% if item.year == year %}
			<div class="project">
				<div class="conference-image">
					{% if item.conference  contains 'ICSE' %}
						<img class="img-thumbnail" src="/assets/images/icse.jpg" alt="Logo">			

					{% elsif item.conference contains 'ASE' or item.conference contains 'ESEC/FSE' or item.conference contains 'FSE' %}
						<img class="img-thumbnail" src="/assets/images/ase.png" alt="Logo">

					{% elsif item.conference contains 'ICSM' or item.conference contains 'ICSME' %}
						<img class="img-thumbnail" src="/assets/images/icsme.gif" alt="Logo">
					
					{% elsif item.conference contains 'FASE' %}
						<img class="img-thumbnail" src="/assets/images/fase.png" alt="Logo">

					{% elsif item.conference == 'IEEE Transactions on Software Engineering' %}
						<img class="img-thumbnail" src="/assets/images/ieee-tse-logo.png" alt="Logo">		

					{% elsif item.conference contains 'OOPSLA' %}
						<img class="img-thumbnail" src="/assets/images/oopsla.png" alt="Logo">

					{% elsif item.conference contains 'arXiv' %}
						<img class="img-thumbnail" src="/assets/images/arxiv.png" alt="Logo">
					
					{% else %}
						<span style="display: inline; background-color: black; color: white;"> {{item.conference}}</span>
					{% endif %}
				</div>
				<p>{{ item.authors}}, <i>{{ item.paper }}</i>, {{ item.conference}}, {{ item.year}}</p>
			</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>