.workplace{
	width: 500px;
	height: auto;
}

.figure{
	margin-top: 40px;
}

.figure {display: table;margin-right: auto;margin-left: auto;}

.figure-caption {display: table-caption;caption-side: bottom;text-align: center;}