body{
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

#auburn{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 200px;
	display: block;
}

.my-menu{
	float: right;
	margin-right: 10%;
}