body{
	margin: auto;
	width: 70%;
	font-family: 'Open Sans', sans-serif;
}

#header{
	width: 100%;
	/*border: 1px solid red;*/
	float: left;
	display: block;	
}

#logo{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 40px;
	display: block;
}
