.project{
	margin-bottom: 20px;
	text-align: justify;
	float: left;
	width: 100%;
}

.conference-image{
	display: inline;
	margin-right: 10px;
	float: left;
	width: 50px;
}
.project > .conference-image > img{
	height: auto;
	display: inline;
}

.project > p{
	display: inline;
}