@media only screen and (min-width: 1000px) {
	#short-links{
		position: fixed;
		top: 70px;
		left: 15%;
	}
}

@media only screen and (max-width: 1000px) {
	#short-links{
		display: none;
	}
}


#short-links > p{
	font-weight: bold;
}

#short-links > ul > li:hover{
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}