<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	
	 <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/short-links.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/publications.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/contact.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/projects.css">

    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    
  </head>
  <body>
  	<!-- Header -->
	<nav class="my-nav navbar navbar-inverse container-fluid">
	    <div class="navbar-header">
	    	<img id="auburn" src="./assets/images/auburn.png" alt="Logo">
	    	<a id="team-name" class="navbar-brand" href="#">USEAL Research Group</a>
	    </div>
	    <ul class="my-menu nav navbar-nav">
	      	{% for item in site.data.navigation%}
				<li><a href="{{ item.link }}">{{ item.name }}</a></li>
			{% endfor %}
	    </ul>
	</nav>
	<!-- Header -->

	<!-- Content -->
	<div id="short-links" class="navbar-fixed-left">
		<p> Projects </p>
		<ul class="list-group">
			{% for item in site.data.projects %}
		  		<li class="list-group-item"><a href="/projects.html">{{ item.name }}</a></li>	  
	  		{% endfor %}
		</ul>
	</div>

  	<div id = "content">
    	{{ content }}
	</div>
	<!-- Content -->

	<!-- Footer -->
	<footer>
		<p>
			© 2018 Copyright:
			<a href="Auburn 2018"> Auburn university, Auburn, Alabama, USA</a>	
		</p>

	</footer>
	<!-- Footer -->
  </body>
</html>